@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-header {
  font-family: 'Poppins', sans-serif;
}